<p>Dear <%=email%>,</p>

<p>Thank you for registering.</p>
<p>
  To confirm your registration and activate your account, please click on the following link:
  <a href="http://localhost:3000/api/users/verify/<%=verificationToken%>">Confirm now</a>
</p>

<p>
  Once you have confirmed your registration, you will have access to all of the features and benefits of our website. We
  look forward to seeing you on the site!
</p>

<p>Best regards!</p>
